.checkout-container {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
}

.checkout-row {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
  align-items: center;
}

.checkout-image {
  width: 10vw;
}

.quantity-container {
  display: flex;
  flex-direction: row;
}